<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primary Pge</title>
</head>
<body>
<div class="container">
    <h1>Page for Mr. John</h1>
    <h1>One more page</h1>
    <div class="user__data">
        <div class="user__avatar">
            <img src="../static/img/avatar.jpg" alt="avatar">
        </div>
        <div class="user__info">
            <a href="https://www.google.com/" class="user__name">
                <span>Mrs Anna</span>
            </a>
            <div class="user__name" id="aaa">
                <span>Mr John</span>
            </div>
            <div class="user__birth__date">
                <span>Date of Birthday:</span>
                <span>10.08.1990</span>
            </div>
            <div class="user__city">
                <span class="city__label">City:</span>
                <span>Los Angeles</span>
            </div>
            <a href="https://www.google.com/">Additional link</a>
            <div class="social__networks">
                <p>Links of social media:</p>
                <ul>
                    <li>
                        <a href="http://instagram.com/username">Instagram</a>
                    </li>
                    <li>
                        <a href="http://twitter.com/username">Twitter</a>
                    </li>
                    <li>
                        <a href="http://youtube.com/username">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="user__blog__wall">
        <div class="blog__title">Blog</div>
        <div class="user__post">
            <div class="user__post__info">
                <div class="post__title">
                    <h3>The company makes our world much better</h3>
                </div>
                <div class="post__date">
                    11.05.2023
                </div>
                <div class="post__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Vitae justo eget magna fermentum iaculis eu. Nibh sit amet commodo nulla
                    facilisi nullam vehicula ipsum. Elit pellentesque habitant morbi tristique senectus et netus et
                    malesuada.
                </div>
            </div>
        </div>
        <div class="user__post">
            <div class="user__post__info">
                <div class="post__title">
                    <h3>Wi-Fi Secure</h3>
                </div>
                <div class="post__text">
                    Semper risus in hendrerit gravida rutrum quisque. Imperdiet sed euismod nisi porta lorem mollis
                    aliquam. Blandit massa enim nec dui nunc mattis enim. Enim neque volutpat ac tincidunt vitae semper.
                </div>
            </div>
        </div>
        <div class="user__post">
            <div class="user__post__info">
                <div class="post__title">
                    <h3>Twitter blocks users who break the rules</h3>
                </div>
                <div class="post__text">
                    Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Eget lorem dolor sed
                    viverra ipsum nunc aliquet. Nunc id cursus metus aliquam eleifend mi in nulla. Aliquam id diam
                    maecenas ultricies mi eget mauris pharetra. Ut tortor pretium viverra suspendisse potenti.
                </div>
            </div>
        </div>
    </div>
    <div class="some__links">
        <a href="/supermarket/" data-attr="shop_link">Store</a>
        <a href="/clothes/" data-attr="777">Clothes</a>
    </div>
</div>
</body>
</html>